<h3>Welcome to MatchSetter, <%=@user.first_name%></h3>

<%= link_to "Find a Match", new_match_path, {class: "button wide-btn"} %>







<hr />
<% @users.each do |user| %>
  <p>User: <%=link_to "#{user.first_name} #{user.last_name}", user %></p>
<% end %>
