<h3>Welcome to match setter</h3>

<p><%= link_to 'Sign up', new_user_registration_path, {class: "button wide-btn"} %></p>
<p><%= link_to 'Login', new_user_session_path, {class: "button wide-btn"} %></p>	
