<h3>match setter (logo here..)</h3>

<%= link_to "New Match", new_match_path %>







<hr />
<% @users.each do |user| %>
  <p>User: <%=link_to "#{user.first_name} #{user.last_name}", user %></p>
<% end %>
