<!-- <h3>Welcome to MatchSetter, <%= @user.first_name %></h3> -->

<%= link_to "Find Opponent", new_match_path, {class: "button wide-btn"} %>


<div class="homepage-icons-main-wrappers clearfix">
	<div class="homepage-big-icon-wraps">
		<a href="/">
			<i class="fa fa-bar-chart-o"></i>
		</a>
	</div>
	<div class="homepage-big-icon-subtext clearfix">level</div>
</div>

<div class="homepage-icons-main-wrappers clearfix">
	<div class="homepage-big-icon-wraps">
		<a href="/">
			<i class="fa fa-star-o"></i>
		</a>
	</div>
	<div class="homepage-big-icon-subtext">favorite</div>
</div>

<div class="homepage-icons-main-wrappers clearfix">
	<div class="homepage-big-icon-wraps">
		<a href="/">
			<i class="fa fa-tags"></i>
		</a>
	</div>
	<div class="homepage-big-icon-subtext">age</div>
</div>

<div class="homepage-icons-main-wrappers clearfix">
	<div class="homepage-big-icon-wraps">
		<a href="/">
			<i class="fa fa-clock-o"></i>
		</a>
	</div>
	<div class="homepage-big-icon-subtext">availability</div>
</div>

<div class="homepage-icons-main-wrappers clearfix">
	<div class="homepage-big-icon-wraps">
		<a href="/">
			<i class="fa fa-trophy"></i>
		</a>
	</div>
	<div class="homepage-big-icon-subtext">score</div>
</div>

<div class="homepage-icons-main-wrappers clearfix">
	<div class="homepage-big-icon-wraps">
		<a href="/">
			<i class="fa fa-map-marker"></i>
		</a>
	</div>
	<div class="homepage-big-icon-subtext">location</div>
</div>

<br clear="all" /><br /><br />
<hr />


