<div class='center'>
	<%= image_tag 'match-setter-logo.png', {class: 'logo'} %>
</div>

<!-- <h2 class='center'>Welcome to MatchSetter</h2>
<h3 class='center'>The Easiest Way to Find and Play Tennis Matches with Players of Your Level</h3> -->

<p><%= link_to 'Sign up', new_user_registration_path, {class: "button wide-btn"} %></p>
<p><%= link_to 'Login', new_user_session_path, {class: "button wide-btn"} %></p>	
