<br />
<h2>About match•setter</h2>
<hr />
<h3>A product of 3 Day Startup 2013 in Austin, TX.</h3>

<hr />

<h3>Project Makers:</h3>
<ul>
	<li>Chiara Bonsignori</li>
	<li><a href="https://www.twitter.com/misplacedyankee" target="_blank">Gamble McAdam</a></li>
	<li><a href="https://www.twitter.com/taylor_w_smith" target="_blank">Taylor Smith</a></li>
	<li><a href="https://www.twitter.com/clay_stewart" target="_blank">Clay Stewart</a></li>
	<li>Nathan Sowell</li>
	<li>Pateek Srivastava</li>
	<li>Sally Stone</li>
</ul>

<hr />