<%= form_for @match, url: {action: "create_solo"} do |f| %>
  <%#= f.error_notifications %>

  <div class="form-inputs">
  	<%= f.label :game_time, 'When is your Match?' %>:
    <%= f.datetime_select :game_time %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>