<% if @users.nil? || @users.count <= 1 %>
	<p>No users to challenge. Please check back.</p>
<% else %>
	<p><strong>Who would you like to play?</strong></p>
	<small>Showing only opponents with levels: (<%= "#{@ntrp_floor} and #{@ntrp_ceiling})" %></small>
	<% @users.each do |user| %>
	  <% if user != current_user %>
	  <p>
	  	<%= f.radio_button :user_id, user.id , as: :radio_buttons %>
	  	<%=link_to "#{user.first_name.capitalize} #{user.last_name.capitalize} (level: #{user.skillset})", user %>
	  </p>
	  <% end %>
	<% end %>
<% end %>