<h1>
  My Matches
  <%= link_to 'New Match', new_match_path, {class: "button pull-right"} %>
</h1>


<hr/>

<% @matches.each do |match| %>
  <div class="matches-rows-wrapper">
    <div class="first-line">
      <strong>[Court Names / Numbers placeholder]</strong>
    </div>
    <div class="second-line">
      <%= match.game_time.to_formatted_s(:awesome_time) %>
    </div>
    <div class="third-line">
      <%= link_to 'Show', match %> |
      <%= link_to 'Delete', match, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>
