// Global Styles



header, h3, h2 {
	font-family: 'Imprima', serif
}

.header-fonts {
	font-size:2em;
	font-weight: bold;
}

footer {
	height: 40px;
	background: #ddd;
}

//

.bar {
	font-family: 'Imprima', sans-serif;
	color: #ffffff;
	font-weight:bold;
	font-size: 20px;
	margin: 0 0 0 20px;
	color: yellow;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.center {
	text-align: center;
}

.logo {
	width: 300px / 360px * 100%;
}
// Global CSS override for input number to match other inputs

input[type=number] {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff;
}

input.form_field_subtext {
	margin-bottom: 0px;
}

small.form_hint_text {
	display:block;
	margin-bottom: 20px;
}

#user_gender {
	margin-bottom: 20px;
}

.wide-btn {
	width: 93%;
	text-align: center;
	font-size: 24px;
}

.med-wide-btn {
	width: 76%;
	text-align: center;
	font-size: 24px;
}

.login-in-buttons {
	background: #FFF -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	width: 140px;
	float: left;
	margin-left: 80px;
	p {
		width: 40%;
	}
}

// USER ROWS
.user-rows-wrapper, .matches-rows-wrapper {
	border-bottom: 1px solid #ccc;
}

.user-rows-wrapper:first-child {
	border-top: 1px solid #ccc;
}

.user-rows-wrapper {
	margin-left: 5px;
	display:block;
	padding: 3px 0;
	img, .placeholderimg {
		float: left;
		clear: both;
		margin-right: 5px;
	}
	min-height: 50px;
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 61%, rgba(239,239,239,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(61%,rgba(237,237,237,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 61%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 61%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 61%,rgba(239,239,239,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 61%,rgba(239,239,239,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

}

// ====== HOMEPAGE =========
.homepage-icons-main-wrappers {
	width: 130px;
	//border: 1px solid red;
	float: left;
	margin-right: 20px;
	.homepage-big-icon-wraps {
		border: 5px solid yellow;
		width: 130px;
		height: 130px;
		display: block;
		float: left;
		-webkit-border-radius: 130px;
	    border-radius: 130px;
	    vertical-align: border-bottom;
	    text-align: center;
	    font-size: 70px;
	    margin: 3px;
	    line-height: 20px;
	    i {
	    	display: block;
	    	margin-top: 30px;
	    }
	}
	a, a:active {
		text-decoration: none;
	}
}

.homepage-big-icon-subtext {
	width: 130px;
	display: inline-block;
    text-align: center;
    // border: 1px solid red;
    float: left;
    font-weight: bold;
    //margin-right: 3px; 
}




