.bar {
	color: #ffffff;
	font-weight:bold;
	font-size: 20px;
	margin: 0 0 0 20px;
}

.pull-right {
	float: right;
}

// Global CSS override for input number to match other inputs

input[type=number] {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff;
}

input.form_field_subtext {
	margin-bottom: 0px;
}

small.form_hint_text {
	display:block;
	margin-bottom: 20px;
}

#user_gender {
	margin-bottom: 20px;
}

.wide-btn {
	width: 100%;
	text-align: center;
	font-size: 24px;
}

// USER ROWS
.user-rows-wrapper, .matches-rows-wrapper {
	border-bottom: 1px solid #ccc;
}
