<style type="text/css">
@media only screen and (min-width: 768px) {
  header {
    display: none;
  }
  .container {
  padding-top: 20px;
  }
}
</style>

<nav class="center" style="margin-top: 4px;">
    <i class="icon-list pull-left" style="margin-top: 7px;"></i>
    <span class="header" style="margin-top: 6px;display: inline-block;">match.setter</span>
</nav>
<hr />

<%#= link_to "Matchsetter", root_path, :class => 'brand' %>
<!-- <ul class="nav"> -->
  <% if user_signed_in? %>
    <!-- <li> -->
    <%#= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    <!-- </li> -->
  <% else %>
    <!-- <li> -->
    <%#= link_to 'Login', new_user_session_path %>
    <!-- </li> -->
  <% end %>
  <% if user_signed_in? %>
    <!-- <li> -->
    <%#= link_to 'Edit account', edit_user_registration_path %>
    <!-- </li> -->
    <% if current_user.has_role? :admin %>
      <!-- <li> -->
      <%#= link_to 'Admin', users_path %>
      <!-- </li> -->
    <% end %>
  <% else %>
    <!-- <li><%#= link_to 'Sign up', new_user_registration_path %></li> -->
  <% end %>
<!-- </ul> -->
<!-- <br clear="all" /> -->
